@charset 'UTF-8';
/* CSS Document */

body {
    margin: 30px;
    background: #000;
}
.neolight {
    position: relative;
    width: 960px;
    height: 100px;
    margin: 0 auto;
    animation: a1 2s ease-in-out 0s infinite;
    text-align: center;
    color: rgba(234,255,47,0.93);
    border: 5px solid #eb0ef7;
    font-family: 'Monoton', cursive;
    font-size: 4em;
    line-height: 90px;
}
.neolight:after {
    content: '';
    position: absolute;
    top: 20px;
    left: 25px;
    z-index: -1;
    width: 900px;
    height: 40px;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
}
.blink {
    -webkit-animation: blink 2s ease-in-out 0s infinite;
       -moz-animation: blink 2s ease-in-out 0s infinite;
            animation: blink 2s ease-in-out 0s infinite;
    text-shadow: 0 0 40px rgba(234,255,47,1);
}
.blink1 {
    -webkit-animation: blink 2s ease-in-out 2.3s infinite;
       -moz-animation: blink 2s ease-in-out 2.3s infinite;
            animation: blink 2s ease-in-out 2.3s infinite;
    text-shadow: 0 0 40px rgba(234,255,47,1);
}
.off {
    -webkit-animation: off 3s ease-in-out forwards 2s 1;
       -moz-animation: off 3s ease-in-out forwards 2s 1;
            animation: off 3s ease-in-out forwards 2s 1;
    opacity: 0.8;
    text-shadow: 0 0 70px rgba(234,255,47,1);
}
.a1 {
    -webkit-animation: a1 2s ease-in-out infinite;
       -moz-animation: a1 2s ease-in-out infinite;
        -ms-animation: a1 2s ease-in-out infinite;
            animation: a1 2s ease-in-out infinite;
}
@keyframes blink {
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
        opacity: 0.3;
    }

    0%,
    12%,
    18.999%,
    23%,
    31.999%,
    37%,
    44.999%,
    46%,
    49.999%,
    51%,
    58.999%,
    61%,
    68.999%,
    71%,
    85.999%,
    96%,
    100% {
        opacity: 0.8;
    }
}

@keyframes off {
    0%,
    15.999%,
    61%,
    85.999%,
    95% {
        color: #ff5e24;
    }
    16%,
    19%,
    60.999%,
    86%,
    93%,
    100% {
        color: #640d87;
    }
}

@-webkit-keyframes off {
    0%,
    15.999%,
    61%,
    85.999%,
    95% {
        color: #ff5e24;
    }
    16%,
    19%,
    60.999%,
    86%,
    93%,
    100% {
        color: #640d87;
    }
}


@keyframes a1 {
    0% {
        border: 5px solid #57104f;
        box-shadow: 0 0 17px 1px #0a0c3d;
    }
    50% {
        border: 5px solid #57104f;
        box-shadow: 0 0 17px 1px #0a0c3d;
    }
    50.001% {
        border: 5px solid #eb0ef7;
        box-shadow: 0 0 17px 1px #eb0ef7;
    }
    100% {
        border: 5px solid #eb0ef7;
        box-shadow: 0 0 17px 1px #eb0ef7;
    }
}

@-webkit-keyframes blink {
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
        opacity: 0.3;
    }

    0%,
    12%,
    18.999%,
    23%,
    31.999%,
    37%,
    44.999%,
    46%,
    49.999%,
    51%,
    58.999%,
    61%,
    68.999%,
    71%,
    85.999%,
    96%,
    100% {
        opacity: 0.8;
    }
}


@-webkit-keyframes a1 {
    0% {
        border: 5px solid #57104f;
        box-shadow: 0 0 17px 1px #0a0c3d;
    }

    50% {
        border: 5px solid #57104f;
        box-shadow: 0 0 17px 1px #0a0c3d;
    }

    50.001% {
        border: 5px solid #eb0ef7;
        box-shadow: 0 0 17px 1px #ff5e24;
    }

    100% {
        border: 5px solid #eb0ef7;
        box-shadow: 0 0 17px 1px #ff5e24;
    }
}
