/*=============================================================================
Container Variable
=============================================================================*/
/*=============================================================================
fonts Variable
=============================================================================*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  font: inherit;
  font-size: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
main,
section {
  display: block; }

html {
  height: 100%; }

body {
  height: 100%;
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

/*=============================================================================
Global Setting
=============================================================================*/
html {
  font-size: 62.5%; }

body {
  color: #111;
  background-color: white;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5; }

h1 {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 20px; }

h2 {
  color: #6f6d6d;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 20px; }

h3 {
  color: #6f6d6d;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px; }

a {
  text-decoration: none;
  color: #333;
  font-family: 'Raleway', Arial, sans-serif; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

/*=============================================================================
Global Setting 
=============================================================================*/
.outter-wrapper {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: cover; }
  @media screen and (min-width: 600px) {
    .outter-wrapper {
      padding: 0; } }

@media screen and (min-width: 600px) {
  .outter-wrapper--header {
    background-image: url("../images/van_bw.jpg"); } }
@media screen and (min-width: 1200px) {
  .outter-wrapper--header {
    height: 800px; } }
@media screen and (min-width: 1500px) {
  .outter-wrapper--header {
    position: relative;
    height: 1250px; }
    .outter-wrapper--header .logo {
      padding-top: 6%; } }

@media screen and (min-width: 600px) {
  .header,
  .project-gallery,
  .footer {
    width: 95%;
    margin: 0 auto; } }
@media screen and (min-width: 1200px) {
  .header,
  .project-gallery,
  .footer {
    width: 1200px; } }

.title {
  height: 50px;
  padding-top: 20px;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  line-height: 50px; }

/*=============================================================================
Header 
=============================================================================*/
/*----------------------------------------------------------------------------
Menu button - mobile version
-----------------------------------------------------------------------------*/
.wrapper-menu-btn {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888; }
  @media screen and (min-width: 600px) {
    .wrapper-menu-btn {
      display: none; } }

.no-js .wrapper-menu-btn {
  display: none; }

.mobile-menu-btn-position {
  position: relative;
  width: 80%; }

.ham-menu-position {
  position: absolute;
  top: 18%;
  right: 10%; }

.mobile-menu-btn {
  width: 100%;
  height: 80px;
  cursor: pointer;
  text-transform: uppercase;
  color: #333;
  border: none;
  background: none;
  box-shadow: none;
  font-size: 2.5rem;
  font-weight: 700; }
  .mobile-menu-btn .menu__item {
    display: block;
    width: 30px;
    height: 3px;
    margin: 0 0 5px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    background-color: #e8545c; }

.mobile-menu-btn.open .menu__item:first-child {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 4px 50%;
  -moz-transform-origin: 4px 50%;
  -ms-transform-origin: 4px 50%;
  transform-origin: 4px 50%; }
.mobile-menu-btn.open .menu__item:nth-child(2) {
  opacity: 0; }
.mobile-menu-btn.open .menu__item:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 4px 50%;
  -moz-transform-origin: 4px 50%;
  -ms-transform-origin: 4px 50%;
  transform-origin: 4px 50%; }

/*----------------------------------------------------------------------------
Menu slide down - mobile version
-----------------------------------------------------------------------------*/
.mobile-primary-menu {
  display: none;
  border-bottom: 1px solid #888; }
  .mobile-primary-menu .menu__item {
    height: 50px;
    margin-bottom: 1px;
    text-align: center;
    background-color: #e4e1e1; }
  .mobile-primary-menu .menu__link {
    width: 100%;
    text-transform: uppercase;
    font-size: 2.2rem;
    line-height: 50px; }
    .mobile-primary-menu .menu__link:hover {
      color: #e8545c; }

/*----------------------------------------------------------------------------
About me 
-----------------------------------------------------------------------------*/
.aboutme {
  margin: 0 auto;
  margin-top: 10%; }
  @media screen and (min-width: 600px) {
    .aboutme {
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.4); }
      .aboutme:hover {
        background-color: #e8545c; }
      .aboutme .aboutme__title {
        text-align: center;
        color: #e3e3e3; }
      .aboutme .aboutme__content {
        color: #fff;
        line-height: 2; } }
    @media screen and (min-width: 600px) and (min-width: 880px) {
      .aboutme .aboutme__content {
        width: 800px;
        margin: 0 auto; } }

  @media screen and (min-width: 1500px) {
    .aboutme {
      margin-top: 15%; } }

/*----------------------------------------------------------------------------
Social Media - mobile version
-----------------------------------------------------------------------------*/
.outter-wrapper--social {
  position: relative;
  padding: 0; }

.social {
  padding-top: 20px; }
  .social .social__item {
    float: left;
    width: 20%;
    margin-bottom: 20px; }
    .social .social__item .social__link {
      display: block;
      text-align: center;
      font-size: 1.4rem; }
      @media screen and (min-width: 600px) {
        .social .social__item .social__link .fa {
          color: rgba(0, 0, 0, 0.4);
          font-size: 5.4rem; }
          .social .social__item .social__link .fa:hover {
            color: #e8545c; } }
    @media screen and (min-width: 600px) {
      .social .social__item:nth-child(1) .fa {
        font-size: 7.2rem;
        line-height: 50px; }
      .social .social__item:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 800px) {
    .social {
      position: absolute;
      top: -150px;
      right: 1%;
      margin: 0 auto; }
      .social .social__item {
        width: auto;
        margin-right: 50px; } }
  @media screen and (min-width: 1500px) {
    .social {
      margin-bottom: 15%; } }

/*=============================================================================
Desktop Navigation
=============================================================================*/
.desktop-primary-menu {
  display: none; }
  @media screen and (min-width: 600px) {
    .desktop-primary-menu {
      display: block;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.3); }
      .desktop-primary-menu .menu__list {
        margin: 0 auto;
        margin-bottom: 20px; } }
    @media screen and (min-width: 600px) and (min-width: 1200px) {
      .desktop-primary-menu .menu__list {
        width: 1200px; } }
  @media screen and (min-width: 600px) {
        .desktop-primary-menu .menu__list .menu__item {
          display: block;
          float: left;
          width: 33%;
          height: 50px;
          text-align: center; }
          .desktop-primary-menu .menu__list .menu__item .menu__link {
            padding-top: 20px;
            text-transform: uppercase;
            font-size: 2.2rem;
            line-height: 50px; }
            .desktop-primary-menu .menu__list .menu__item .menu__link:hover {
              color: #e8545c; } }
  @media screen and (min-width: 1500px) {
    .desktop-primary-menu {
      position: absolute;
      top: 0;
      display: block; } }

@media screen and (min-width: 1500px) {
  .outter-wrapper--nav .menu__list .menu__item {
    height: 80px; }
    .outter-wrapper--nav .menu__list .menu__item .menu__link {
      color: #fff;
      line-height: 80px; } }

/*=============================================================================
Main
=============================================================================*/
/*----------------------------------------------------------------------------
project Gallery - mobile version
-----------------------------------------------------------------------------*/
@media screen and (min-width: 600px) {
  .outter-wrapper--main {
    background-color: rgba(0, 0, 0, 0.2); } }

.project-gallery .container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 1px 2px 3px #333435; }
  @media screen and (min-width: 1200px) {
    .project-gallery .container {
      float: left;
      width: 47.5%;
      height: 720px;
      margin: 0 auto;
      margin-right: 20px;
      margin-bottom: 20px; }
      .project-gallery .container:first-child {
        width: 96.6%;
        height: auto;
        margin-right: 0; }
      .project-gallery .container:nth-of-type(3) {
        margin-right: 0; }
      .project-gallery .container:nth-of-type(5) {
        margin-right: 0; } }
  .project-gallery .container .container__title {
    padding: 20px;
    text-align: center;
    color: #fff;
    background-color: #333; }
  .project-gallery .container .container__img {
    display: block;
    width: 60%;
    margin: 0 auto;
    opacity: 0.7; }
    .project-gallery .container .container__img:hover {
      opacity: 1; }
  .project-gallery .container .container__body {
    padding: 20px; }
  .project-gallery .container .description {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
    line-height: 1.8; }
    @media screen and (min-width: 600px) {
      .project-gallery .container .description {
        width: 90%; } }
  .project-gallery .container .container__link {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 50px;
    transition: all 0.3s ease-in-out;
    text-align: center;
    color: #fff;
    background-color: #e8545c;
    font-size: 2rem;
    line-height: 50px; }
    .project-gallery .container .container__link:hover {
      text-decoration: underline;
      font-size: 2.2rem; }

/*=============================================================================
Footer
=============================================================================*/
@media screen and (min-width: 600px) {
  .outter-wrapper--footer {
    position: relative;
    height: 100%;
    background-image: url("../images/van_skyline.jpg");
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%); } }

.contact {
  width: 100%;
  margin: 0 auto; }
  .contact .title--contact {
    text-align: center; }
    @media screen and (min-width: 600px) {
      .contact .title--contact {
        color: #fff;
        font-size: 4rem; } }
  .contact .contact__content {
    text-align: center;
    font-size: 2rem; }
    @media screen and (min-width: 600px) {
      .contact .contact__content {
        color: #555;
        font-size: 3rem; } }

.copyright {
  text-align: center; }

.icon-top {
  display: none; }
  @media screen and (min-width: 600px) {
    .icon-top {
      display: block; } }
  .icon-top .fa {
    position: absolute;
    bottom: 50%;
    left: 50%;
    color: rgba(0, 0, 0, 0.2); }
    .icon-top .fa:hover {
      color: #e8545c; }

/*=============================================================================
no js
=============================================================================*/
.no-js .wrapper-menu-btn {
  display: none; }

.no-js .desktop-primary-menu {
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3); }
  .no-js .desktop-primary-menu .menu__list {
    margin: 0 auto;
    margin-bottom: 20px; }
    .no-js .desktop-primary-menu .menu__list .menu__item {
      display: block;
      float: left;
      width: 33%;
      height: 50px;
      text-align: center; }
      .no-js .desktop-primary-menu .menu__list .menu__item .menu__link {
        padding-top: 20px;
        text-transform: uppercase;
        font-size: 2.2rem;
        line-height: 50px; }
        .no-js .desktop-primary-menu .menu__list .menu__item .menu__link:hover {
          color: #e8545c; }

.blink1 {
  animation: blink 2s ease-in-out 0.3s infinite;
  -webkit-animation: blink 2s ease-in-out 0.3s infinite;
  text-shadow: 0px 0px 40px #eaff2f;
  font-size: 4rem; }

@keyframes blink {
  19.999%,22%,62.999%,64%,64.999%,70%,100% {
    opacity: 0.1; }
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  19.999%,22%,62.999%,64%,64.999%,70%,100% {
    opacity: 0.3; }
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    opacity: 0.8; } }

/*# sourceMappingURL=styles.css.map */
